{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <h3 class="center">Login</h3>
    <div class="form_wrapper">
    <form method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit" class="btn btn-primary btn-sm">Login</button>
    </form>
    </div>
    <a href="/register" type="button" class="center_button btn btn-primary btn-sm register_width">Register</a>

{% endblock %}